body {
    background:#f1f1f1;
}

a ,a:hover, a:focus{
    text-decoration:none;
}

a, .btn{
    display:block;
    height:100px;
    width:100px;
    background:#eee;
    line-height:100px;
    font-size:25px;
    text-align:center;
    border-radius:50%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.6);
    color:#000;
    transition:all 0.33s ease-in-out;
    outline:none;
}

a:hover, .btn:hover{
    background:#fff;
}

.icon{
    display: inline-block;
    text-align: center;
    margin: 20px 30px;
}

.content{
    width:80%;
    height:300px;
    text-align:center;
    margin:auto;
    margin-top:150px;
    background:#ccc;
    box-shadow:1px 2px 3px rgba(0,0,0,0.4);
}

label{
    margin-top:10px;
    font:bold 12px consolas;
    display:block;
}

.inside{
    padding-top: 80px;
}

.btn{
    border:none;
    cursor:pointer;
}

.logout{
    position:relative;
}

.i{
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 25px;
    cursor:pointer;
}